n8n/customer-contact_n8n_workflow.json
{
  "name": "customer-contact",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-contact/message",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f3808b3a-3f6d-415d-83a7-a225d47c4cdc",
      "name": "Webhook",
      "webhookId": "82aa2cdf-55c9-4ae5-9173-40a84365d5d0"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Du analysierst eingehende Kundenkontakte (z.B. E-Mails, Telefonate, etc.).\n\nAufgabe:\n1. Erstelle eine ausführliche Zusammenfassung in 2–3 Sätzen. Gehe dabei auf alle wichtigen Informationen ein und lasse nichts aus.\n2. Bewerte die Stimmung des Kunden ausschließlich mit einem der folgenden Werte:\n   - \"good\"\n   - \"neutral\"\n   - \"bad\"\n3. Bestimme, ob es offene Aktionen, Rückfragen, ausstehende Antworten oder notwendige Folgeschritte gibt, und gib dafür einen Boolean zurück.\n\nWichtige Regeln:\n- Gib ausschließlich gültiges JSON aus.\n- Gib keine Erklärungen, keine Einleitung und keinen Fließtext außerhalb des JSON aus.\n- Verwende für \"sentiment\" nur genau diese drei Werte: \"good\", \"neutral\", \"bad\".\n- Verwende für \"open_todo\" nur die Boolean-Werte true oder false.\n- Die Zusammenfassung in \"summary\" muss auf Deutsch sein.\n- Wenn Informationen unklar sind, fasse den Kontakt trotzdem bestmöglich zusammen.\n- Erfinde keine Fakten, die nicht im Kundenkontakt enthalten sind.\n- Die Zusammenfassung muss 2-3 Sätze lang sein.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        688,
        512
      ],
      "id": "dd4eaa38-69a3-4216-85f4-7381639ce1af",
      "name": "Basic LLM Chain",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: $json.output };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        496
      ],
      "id": "af60cc8c-c9bf-40ec-91da-979390adcbab",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "customer_contacts",
        "columns": {
          "column": [
            {
              "name": "source_channel"
            },
            {
              "name": "customer_name"
            },
            {
              "name": "customer_email"
            },
            {
              "name": "customer_phone"
            },
            {
              "name": "subject"
            },
            {
              "name": "text"
            },
            {
              "name": "summary"
            },
            {
              "name": "sentiment"
            },
            {
              "name": "open_todo",
              "type": "boolean"
            },
            {
              "name": "is_critical",
              "type": "boolean"
            }
          ]
        },
        "options": {
          "createIfNotExists": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1264,
        0
      ],
      "id": "75694d74-fd0e-4e6d-ab03-22dea5e48dc3",
      "name": "Create a data table"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1104,
        0
      ],
      "id": "e634d9e1-480c-4685-a392-2955215a51cd",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1840,
        496
      ],
      "id": "9bc4ab44-9a14-49e9-a740-1bf4b6a06eb7",
      "name": "Merge"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "customer_contacts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "open_todo": false,
            "is_critical": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "source_channel",
              "displayName": "source_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer_phone",
              "displayName": "customer_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "open_todo",
              "displayName": "open_todo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "is_critical",
              "displayName": "is_critical",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2048,
        496
      ],
      "id": "2286f10d-3aee-452a-a30c-c63e84c0f90e",
      "name": "Insert row"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if($input.item.json.sentiment == \"bad\" && $input.item.json.open_todo) {\n  $input.item.json.is_critical = true;\n} else {\n  $input.item.json.is_critical = false;\n}\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        496
      ],
      "id": "77407096-a616-4efd-ac3e-371cd2df8158",
      "name": "Check if critical"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "53f2e4e2-e7b8-4468-bcb8-41b2d57f1a8f",
              "leftValue": "={{ $json.is_critical }}",
              "rightValue": "bad",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2256,
        496
      ],
      "id": "d5ec3a36-80d6-485e-b7da-5a3e990ef51e",
      "name": "If critical"
    },
    {
      "parameters": {
        "subject": "Kritischer Fall erkannt",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2512,
        496
      ],
      "id": "15d17ad4-805b-4811-94c0-380a4f7896d2",
      "name": "Emergency Notification",
      "webhookId": "416d9b91-d3f2-4426-989f-53d5c6ef3ec8",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-contact/audio",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        496
      ],
      "id": "803f463b-4413-4aed-a935-3f6ada5856f9",
      "name": "Webhook Audio Upload",
      "webhookId": "d3680ff1-15c7-417b-b379-33ac90b1bdbb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://audio-processing-api:8000/api/transcribe",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -144,
        352
      ],
      "id": "4ae83866-9fdc-480d-9a1c-470d08fa98e6",
      "name": "Transcribe Local"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://audio-processing-api:8000/api/diarize",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -144,
        608
      ],
      "id": "1f2473af-7323-449f-a563-44a5b90d4edd",
      "name": "Transcribe and Diarize API"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        64,
        512
      ],
      "id": "8a97497d-25fb-45c9-b294-4c81fc04ef6c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        688,
        816
      ],
      "id": "2da8a2ad-5500-4260-9389-bffcd8a7d35f",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "1ui8SgSIpORpR6UV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -48,
        1024
      ],
      "id": "66016817-0243-4a37-a7eb-8d370b6acfc7",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "1ZgNXpgqmp31P2Xt",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"Kurze Zusammenfassung in 2 bis 3 Sätzen auf Deutsch\"\n    },\n    \"sentiment\": {\n      \"type\": \"string\",\n      \"enum\": [\"good\", \"neutral\", \"bad\"]\n    },\n    \"open_todo\": {\n      \"type\": \"boolean\",\n      \"description\": \"True, wenn ein Rückruf, eine Klärung, ein Termin oder eine andere Aktion offen ist\"\n    }\n  },\n  \"required\": [\"summary\", \"sentiment\", \"open_todo\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        768,
        688
      ],
      "id": "9268d675-a6ae-4fb2-a7ed-98c61d9d1d90",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "703631e9-b424-40bd-8573-70128b629858",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        512
      ],
      "id": "198e62b6-bc38-4d3c-840c-4f3bad09dfe8",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Error handling\n\nreturn {\n  \"error\": $json.error\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        912
      ],
      "id": "bce808f2-010f-48a0-916d-33791e1db39c",
      "name": "Error Handling"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body;\n\nconst normalized = {\n  source_channel: 'webhook',\n  customer_name: body.name ?? '',\n  customer_email: body.email ?? '',\n  customer_phone: body.phone ?? '',\n  subject: body.subject ?? '',\n  text: body.message ?? ''\n};\n\nreturn {\n  json: normalized\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "8c8925c3-6088-4c8a-965e-e72b72d4ec4a",
      "name": "Normalize Webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const normalized = {\n  source_channel: 'audio',\n  customer_name:  '',\n  customer_email: '',\n  customer_phone: $json.body.phone ?? '',\n  subject: '',\n  text: $json.transcript_text ?? '',\n};\n\nreturn {\n  json: normalized\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        512
      ],
      "id": "377a1938-9e7d-45d5-9ae7-7a284a0131a0",
      "name": "Normalize Audio Upload"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const from_match = $json.from.match(/^(.+?)\\s*<(.+?)>$/);\n\nlet name = \"\";\nlet email = \"\";\n\nif (from_match) {\n  name = from_match[1];\n  email = from_match[2];\n}\n\nconst normalized = {\n  source_channel: 'email',\n  customer_name: name ?? '',\n  customer_email: email ?? '',\n  customer_phone: '',\n  subject: $json.subject ?? '',\n  text: $json.textPlain ?? ''\n};\n\nreturn {\n  json: normalized\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        1024
      ],
      "id": "f51bd440-bc19-4d12-90ed-9806d9752049",
      "name": "Normalize E-Mail"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Check if critical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Create a data table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "If critical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if critical": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If critical": {
      "main": [
        [
          {
            "node": "Emergency Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Audio Upload": {
      "main": [
        [
          {
            "node": "Transcribe and Diarize API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe and Diarize API": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Normalize Audio Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Normalize E-Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Error Handling",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Audio Upload": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize E-Mail": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a961a4d3-0b03-40e7-8971-e21ddbfa130e",
  "meta": {
    "instanceId": "763f162f485d0d05ed61f2b39023a145bd9f4ad04e3dd1a88c41a3686f9b1a63"
  },
  "id": "prAvoVZ8diZvtmiR",
  "tags": []
}